@media (max-width: 800px) {
  .flex-row,
  .flex-item {
    display: block;
    flex: 100%;
    width: 100%;
    flex-direction: column;
  }
  .publicite {
    display: block;
    flex-direction: column;
  }
  .pub,
  .l-pub {
    display: block;
  }
  .h1-title,
  .h2-title {
    font-size: 1.5em !important;
    width: 70% !important;
  }
  .texte {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 400px) {
  section.flex-row,
  section.flex-item {
    display: block;
  }
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1;
}

.align-left {
  text-align: left !important;
}

/* Elements
--------------------------------------------- */
body {
  background: #a9cad9;
}

.container-flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 173px;
}

img {
  width: 100%;
}

.publicite {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pub {
  background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_1.png);
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 250px;
  margin: 50px 25px;
}

.pub:nth-child(2) {
  background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_2.png);
  /* background-image: url(../img/ads_2.png); */
}

.pub:nth-child(3) {
  background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_3.png);
  /* background-image: url(../img/ads_3.png); */
}

.l-pub {
  background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_1.png);
  border-style: solid;
  border-width: 1px;
  width: 200px;
  height: 200px;
  margin: 50px 25px;
}

.h1-title {
  color: #fff;
  padding-left: 10px;
  background-image: linear-gradient(0deg, #a672a2 0, #a672a2);
  background-size: 100% 55%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 75%;
  font-size: 3.5rem;
  font-weight: 700;
}

.h2-title {
  color: #fff;
  padding-left: 5px;
  background-image: linear-gradient(0deg, #a672a2 0, #a672a2);
  background-size: 100% 55%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 700;
}

.texte {
  color: #fff;
  font-size: 1.6rem;
  line-height: 135%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line {
  border-bottom: 2px solid #a672a2;
  margin: 10px 0 50px 0;
}

.flex-button {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"] {
  border: 2px solid;
  border-color: #a672a2;
  border-radius: 15px;
  background: #a672a2;
  color: #eeeeee;
  line-height: 1;
  padding: 1em 2.5em;
  transition: 0.5s linear;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #a672a2;
  background-color: transparent;
  color: #a672a2;
  transition: 0.5s linear;
}
