<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>" />
    <title>Effix Event</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
</head>

<body>
    <div id="coreContainer"></div>
</body>

</html>
